<section>
  <h1>Blogroll</h1>
  <ul id="blogroll">
    <li><a href="http://0x80.org/blog">0x80</a></li>
    <li><a href="http://adaywithtape.blogspot.com">A Day With Tape</a></li>
    <li><a href="http://carnal0wnage.attackresearch.com">Carnal0wnage & Attack Research</a></li>
    <li><a href="http://www.coresec.org">CoreSec</a></li>
    <li><a href="http://www.daftandcurious.com">Daft And Curious</a></li>
    <li><a href="http://www.darknet.org.uk">Darknet</a></li>
    <li><a href="http://diablohorn.wordpress.com">DiabloHorn</a></li>
    <li><a href="http://www.exploit-monday.com">Exploit-Monday</a></li>
    <li><a href="http://blog.g0tmi1k.com">g0tmi1k</a></li>
    <li><a href="http://www.thegreycorner.com">The Grey Corner</a></li>
    <li><a href="http://www.greyhathacker.net">GreyHatHacker</a></li>
    <li><a href="http://hdesser.wordpress.com">humbledesser</a></li>
    <li><a href="http://intern0t.blogspot.com">intern0t</a></li>
    <li><a href="http://malforge.com">Malware Forge</a></li>
    <li><a href="http://www.pentestgeek.com">Pentest Geek</a></li>
    <li><a href="http://pentestmonkey.net">Pentest Monkey</a></li>
    <li><a href="http://www.pwnag3.com">pwnag3</a></li>
    <li><a href="http://www.room362.com/blog">Room362</a></li>
    <li><a href="http://security-sh3ll.blogspot.com">Security Shell</a></li>
  </ul>
</section>
